.box1 {
  width: 100px;
  height: 100px;
  background-image: url("../../images/p1.png");
}
.box2 {
  width: 100px;
  height: 100px;
  background-image: url("../../images/p2.jpeg");
}
.box3 {
  width: 100px;
  height: 100px;
  background-image: url("../../images/p3.jpg");
}
